body {
  background-color: #2f2f2f
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f6f6f6;
}

.center {
  text-align: center;
}

.container {
  width: 500px;
  margin: auto;
}

.title {
  font-size: 50px;
}

.beacon {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #2f2f2f;
  transition: all .25s ease;
}

.totalRequests {
  padding-top: 20px
}

.active {
  background-color: #f6f6f6;
  box-shadow: 0 0 2rem #ffc600;
}

.error {
  background-color: #ec2a16;
  box-shadow: 0 0 2rem #ec2a16;
}

.requests-breakdown {
  text-align: center;
  padding: 50px;
}
